# **Course: Data Science for Decision Support**
**Assignment 1.2** (Submission deadline 1.06.2022, 16:00), 

**Author:** Ali, Butt: 533126.


---

# Problem: **Calssification** (Total score 32)

# **`Task 1 „Data Pre-processing“ (7 Scores)`**

1)	Read the data from your individual variant into Python notebook

In [2]:
import pandas as pd
url = 'https://raw.githubusercontent.com/AliButt104/A1.1/main/heart.csv'
df = pd.read_csv(url)
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [ ]:
#add more cell if needed to each code cell

2) Output the main information (number of variables, number of instances).

In [3]:
df.shape

(918, 12)

*Comment the results of the previous program*

3) Output some first rows of the dataset.

In [4]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

4) Make explanatory data analyses for each variable (mean, std, etc.).

In [5]:
print(df.mean())

Age              53.510893
RestingBP       132.396514
Cholesterol     198.799564
FastingBS         0.233115
MaxHR           136.809368
Oldpeak           0.887364
HeartDisease      0.553377
dtype: float64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

In [6]:
print(df.std())

Age               9.432617
RestingBP        18.514154
Cholesterol     109.384145
FastingBS         0.423046
MaxHR            25.460334
Oldpeak           1.066570
HeartDisease      0.497414
dtype: float64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

*Comment the results of the previous program*

5) Look at independent and dependent variables. Divide the dataset accordingly into matrices X and Y. Output the shapes of these matrices.

In [ ]:
#Write your code here

*Comment the results of the previous program*

6) Look at data types of the variables. Are there any categorical variable you need to encode? Execute necessary transformations. Drop some columns if necessary, when recommended in your individual variant.

In [ ]:
#Write your code here

7) Are there any Nan values? Try different filling of them (mean, median).

In [ ]:
#Write your code here

*Comment the results of the previous program*

8) Check the dependences between each of the independent variable and the target variable and among the independent variables.  Output correlation table and corresponding headmap results.

In [ ]:
#Write your code here

*Comment the results of the previous program*

9) Build 2D plots of dependences between each pair of the variables.

In [ ]:
#Write your code here

*Comment the results of the previous program*

# **`Task 2 “Data Analysis” (7 Scores)`**

Compare 4 ML methods: 

*   Logistic regression
*   Decision tree classification
*   KNN: k nearest neighbours classification
*   Support vector machine (SVM) classification

1) Scale your whole dataset. Try different scalings for your dataset. (Standard Scaler, MinMax Scaler). Experiment with Standard Scaler first.

In [ ]:
#Write your code here.

2) Divide your dataset into 2 parts: training set and testing set (90:10). Use defined random_state to reproduce the splitting for other Scaler. Output the dimension of the resulting datasets.

In [ ]:
#Write your code here

3) **Preliminary analysis:** Build 4 models based on 4 mentioned ML methods. For each model: train with training set and output the confusion matrix of the model using training set. Calculate accuracy, precision, recall, F1 metrics over training set. Is precision or recall more important for description of your data? Build the ROC_AUC curve. Test your models with a testset and output the confusion matrix. Compare the same performance metrics calculated inside one model for training and testing sets.

**Linear logistic regression**

In [ ]:
#Write your code here

*Comment the results of the previous program*. *Compare the results of the same characteristics for training and test sets. Make conclusions.*

**Decision tree classification**

In [ ]:
#Write your code here

*Comment the results of the previous program*. *Compare the results of the same characteristics for training and test sets. Make conclusions.*

**kNN: k nearest neighbours classification**

In [ ]:
#Write your code here

*Comment the results of the previous program*. *Compare the results of the same characteristics for training and test sets. Make conclusions.*

**Support vector machine**

In [ ]:
#Write your code here

*Comment the results of the previous program*. *Compare the results of the same characteristics for training and test sets. Make conclusions.*

4) Re-calculate the results of Task 2 (use the same random_state as for Standard Scaler by splitting) with MinMaxScaler and compare the results based on metric accuracy. Use the Scaler, which gives the best results for the next Tasks.

In [ ]:
#Write your code here

*Comment the results of the previous program.*

# **`Task 3 “Cross validation” (10 Scores)`**

1)	Make 5 fold cross validation, dividing your combined (training + validation sets) into 5 folds in different combinations manually with the function train_test_split() and  without using such functions as: cross_val_score(), cross_validation(), GridSearchCV(). Execute a cycle for each fold running all four models inside.

2) Find the average values for each metric for each model based on the validation set. 

3) Try different values for the hyperparameters (see corresponding lecture slides) for each model and re-run the steps 1-2. Make conclusions about the best model and best parameters, based on each metrics and based on the majority of the metrics.

In [ ]:
#Write your code here

*Show the results of 3 runs of each model with different hyperparameters each.*

4)	**Final evaluation.** Evaluate your model using a test set (remains the same from the previous task) based on all metrics. Take the best hyperparameters of the models from the cross validation step and train the model with the complete training set (training set + validation set). Compare the results obtained on the validation set. Make the conclusions about the results.

In [ ]:
# Write your code here

# **`Task 4 “Use automatic cross validation ” (10 Scores)`**

1) Use the functions cross_val_score() or cross_validation() for automation of the manually performed process in Task 3. Use the best hyperparameter values for each model found at the previous step.

In [ ]:
#Write your code here for Logistic regression

In [ ]:
#Write your code here for Decision tree classification

In [ ]:
#Write your code here for #kNN: k nearest neighbours classification

In [ ]:
#Support vector machine classification

*!! Comment the obtained results here !!*

2) Use the function GridSearchCV() to find the best hyperparameters for each ML method.

In [ ]:
#Write your code here for Logistic regression

In [ ]:
#Write your code here for Decision tree classification

In [ ]:
#Write your code here for #kNN: k nearest neighbours classification

In [ ]:
#Write your code here for Support vector machine classification

*!! Comment the obtained results here !!*

3) Evaluate the found models and parameters with the test dataset. Compare the results of Tasks 3 and Task4. Make conclusion about the results.

In [ ]:
#Write your code here Logistic regression

In [ ]:
#Write your code here for Decision tree classification

In [ ]:
#Write your code here for #kNN: k nearest neighbours classification

In [ ]:
#Write your code here for Support vector machine classification

*!! Comment the obtained results here !!*

4) Output residuals/outliers (wrongly classified observations) for each model. Are there any observation, which were wrongly classified by all models?

In [ ]:
#Write your code here to output the outliers for all four models as a DataFrame.

5) Try to exclude these observations (1-3 observations) and rebuild the models. Compare the accuracy result before and after removing of outliers (use cross_validation() function) andrun all 4 models with the reduced dataset without outliers once more.

In [ ]:
#Write your code here for #Logistic model after removing of outliers

In [ ]:
#Write your code here for Decision tree classification after removing of outliers

In [ ]:
#Write your code here for kNN: k nearest neighbours classification after removing of outliers

In [ ]:
#Write your code here for Support vector machine classification after removing of outliers

!! Make conclusions as a Text field !!